<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506411586069-m7f1ode00s6l69jt8f4kuoorv2uolaol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506411586069-m7f1ode00s6l69jt8f4kuoorv2uolaol</string>
	<key>API_KEY</key>
	<string>AIzaSyC8SRyNtcj6lRQz-uyfSKf3zZIyr8FD9nE</string>
	<key>GCM_SENDER_ID</key>
	<string>506411586069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.byc</string>
	<key>PROJECT_ID</key>
	<string>hair-booking-922dc</string>
	<key>STORAGE_BUCKET</key>
	<string>hair-booking-922dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506411586069:ios:f5b7c1dca375019883741c</string>
	<key>DATABASE_URL</key>
	<string>https://hair-booking-922dc-default-rtdb.firebaseio.com</string>
</dict>
</plist>